html {
  background-color:  #f1f0ed;
  font-size: 20px;
  font-family: sans-serif;
}

main {
  margin: 0% 30%;
  max-width: 750px;
  min-width: 400px;
  text-align: justify;
}

h1 {
  text-align: center;
}

figure {

  margin: 4% auto;
  text-align: center;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    main {
      margin: 0% 10%;
      max-width: 750px;
      min-width: 400px;
      text-align: justify;
    }
}
