html {
  background-color: LightCyan;
  font-size: 20px;
}

h1 {
  text-align: center;
}

p {
  columns: 18em;
}

ul {
  background: CornflowerBlue;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

